$main-font: "Lexend", sans-serif

// variables.scss

// Светлая тема (по умолчанию)
:root 
  // Основные цвета
  --bg-color: #f8fafc
  --text-color: #1e293b
  --border-color: #e2e8f0

  //Цвета кнопки
  --btn-color: #000000
  --header-btn-color: #f1f5f9

  //Цвета при наведении
  --surface-hover: #e2e8f0
  

  // Цвета кода
  --code-bg: #2d3748
  --code-text: #e2e8f0

  // Цвета для текста
  --text-color-secondary: #334155

  // Цвета для textarea
  --textarea-bg: #f8fafc
  --textarea-border: #cbd5e1

  // Цвета для результата
  --result-success-bg: #d1fae5
  --result-success-text: #065f46
  --result-success-border: #a7f3d0
  --result-error-bg: #fee2e2
  --result-error-text: #b91c1c
  --result-error-border: #fecaca

  // Цвета для навигации
  --nav-border: #e2e8f0


// Тёмная тема
[data-theme="dark"] 
  // Основные цвета
  --bg-color: #1e293b
  --text-color: #f8f8f8
  --border-color: #334155

  // Цвета кода
  --code-bg: #0f172a
  --code-text: #cbd5e1

  //Цвет кнопки
  --btn-color: #0f172a
  --header-btn-color: #334155

  --surface-hover: #475569

  // Цвета для текста
  --text-color-secondary: #cbd5e1

  // Цвета для textarea
  --textarea-bg: #334155
  --textarea-border: #475569

  // Цвета для результата
  --result-success-bg: #065f46
  --result-success-text: #a7f3d0
  --result-success-border: #065f46
  --result-error-bg: #b91c1c
  --result-error-text: #fecaca
  --result-error-border: #b91c1c

  // Цвета для навигации
  --nav-border: #334155
